@import "tailwindcss";

@theme {
  --color-primary: #16a34a;
  --color-primary-dark: #15803d;
}

@utility container-page {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
